<div class = "container">

  <div class="jumbotron">
    <h1 class = "text-center">Eat-da-Burger!</h1>
  </div>

  <div class = "row">
    <div class="col-lg-6">
    <form class="create-update-form" action="/" method="POST">
      <div class="input-group" id = "addBurger">
        <input type="text" class="form-control" placeholder="Enter a burger you'd like to eat!" id = "burger">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Add!</button>
        </span>
      </div>
    </form>
    </div>
  </div>

  <div class = "row">
    <div class = "col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body">
          Basic panel example
        </div>
      </div>
    </div>
    <div class = "col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body">
          Basic panel example
        </div>
      </div>
    </div>
  </div>

</div>